h1 {
  color: mint cream;
  text-shadow: 1px 1px 1px red,
               2px 2px 1px red;
}
h2 {
  color: yellow;
}
p {
  background-color: white;
}

body {font-family:Helvetica, sans-serif;
  background-image: url("the experience experiene.jpg")

}
h3 {
  color: red;
}
